{% load static %}
<html> 
    <head>
        <title>The Order</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'restaurant/css/menu.css' %}">
    </head>   
    <body>
        {% if not restaurant %}
        Restaurante no encontrado
        {% else %}
        
        <div class="restaurant">            
           Ordenes {{restaurant.name}}
        </div>

        {% for order in orders %}

        <div class="Order">
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"># Orden </th>
                <th scope="col">Cliente</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Empaque</th>
                <th scope="col">Estado</th>
            </tr>
            </thead>        
            
            {% for productOrder in productOrders %}
                
            
                {% if productOrder.order.pk == order.pk %}

                    
                <tbody>
                    <tr>
                        <td>{{order.pk}}</td>
                        <td>{{order.name}}</td>
                        <td>{{productOrder.product}}</td>
                        <td>{{productOrder.quantity}}</td>
                        
                        
                        
                        
                    
                    {% if productOrder.carry_off %}
                        <td>Para Llevar</td>  
                    {% else %}                      
                        <td>Mesa</td>
                    {% endif %}                         
                        <td>{{productOrder.state}}</td> 
                    </tr>
                </tbody>
              
                    
                {% endif %}

            {% endfor %}
        </table>
        


        {% endfor %}

        {% endif %}

    </body>
</html>